<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InternArt</title>
  <link rel="stylesheet" type="text/css" href="/assets/style/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style/gallery.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/assets/js/popups.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../topNav.ejs') %>

  <main id="art" style="background-color:#<%= artwork.bgColor %>">
    <img id="art-img" src="/artwork/<%= artwork.id %>.jpg" />
    <div class="art-info">
      <div>
        <span class="title">
          <%= artwork.title %>
          <% if (userID == artwork.ownerID) { %>
            <a id="edit" class="delink"><i class="material-icons">edit</i></a>
          <% } %>
          <% if (adminTools == true) { %>
            <a id="adminTools" class="delink"><i class="material-icons">report</i></a>
          <% } %>
        </span>
        <div>
          <span class="artist"><a class="delink" href="/u/<%= artwork.ownerID %>"><img src="/users/avatar/<%= artwork.ownerID %>" /><%= artwork.ownerName %></a></span>
        </div>
      </div>
      <% if (voted == true) { %>
        <span class="votes voted"><i class="material-icons">thumb_up</i><span><%= artwork.votes %></span></span>
      <% } else { %>
        <span class="votes"><i class="material-icons">thumb_up</i><span><%= artwork.votes %></span></span>
      <% } %>
      <% if (!(artwork.description == null || artwork.description == "" || artwork.description == undefined)) { %>
        <span class="label">description</span>
        <p><%= artwork.description %></p>
      <% } %>
    </div>
  </main>
  <script>
    var artID = '<%= artwork.id %>';
  </script>
  <script src="/assets/js/art.js"></script>
  <% if (userID == artwork.ownerID) { %>
    <script>
      $('#edit').on('click', function() {
        window.location.replace("/edit/<%= artwork.id %>");
      });
    </script>
  <% } %>
  <% if (adminTools == true) { %>
    <script src="/assets/js/adminTools.js"></script>
  <% } %>
</body>
</html>
