<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>InternArt</title>
  <link rel="stylesheet" type="text/css" href="/assets/style/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style/gallery.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../topNav.ejs') %>

  <main id="art">
    <img id="art-img" src="<%= artwork.path %>" />
    <div class="art-info">
      <div>
        <span class="title"><%= artwork.title %></span>
        <span class="artist"><a class="delink" href="/u/<%= artwork.ownerID %>"><img src="/assets/user.png" /><%= artwork.ownerName %></a></span>
      </div>
      <span class="votes"><i class="material-icons pointer">thumb_up</i><%= artwork.votes %></span>
      <span class="label">description</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, ante eu auctor viverra, augue arcu tincidunt velit, non consequat nisi sapien sit amet magna. Ut viverra nisl quis est luctus convallis. Curabitur sed diam lorem. Nunc sagittis ullamcorper nisl quis gravida. Donec mauris metus, elementum vel pretium eget, vehicula in lacus. Vivamus ut porta enim. Nullam congue erat elit, mattis cursus purus auctor ac. Nam sed purus non dui bibendum venenatis vitae a nisl. Fusce ultrices mollis iaculis.
      </p>
    </div>
  </main>
</body>
</html>
