<main id="art" class="edit" style="background-color:#<%= artwork.bgColor %>">
  <img id="art-img" src="/artwork/<%= artwork.id %>.jpg" />
  <div class="linear-activity hide">
    <div class="indeterminate"></div>
  </div>
  <div class="art-info">
    <div style="margin: 10px 0px;">
      <div class="colorPicker">
        <span>Background</span>
        <input type='text' id="colorPicker" />
      </div>
      <div>
        <button id="deleteArtwork">Delete</button>
        <input type="submit" value="Save edits" />
      </div>
    </div>
    <div>
      <input class="title edit" placeholder="Title" value="<%= artwork.title %>" />
      <span class="artist edit"><a class="delink"><img src="/users/avatar/<%= artwork.ownerID %>" /><%= artwork.ownerName %></a></span>
    </div>
    <span class="votes"><i class="material-icons pointer">thumb_up</i><%= artwork.votes %></span>
    <span class="label">description</span>
    <textarea class="description" placeholder="Description"><%= artwork.description %></textarea>
  </div>
</main>
<script>var artID = '<%= artwork.id %>';var title = "<%= artwork.title %>";var bgColor = "<%= artwork.bgColor %>";var description = "<%= artwork.description %>";</script>
<script src="/assets/js/edit.js"></script>
