<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InternArt</title>
  <link rel="stylesheet" type="text/css" href="/assets/style/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style/gallery.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/assets/js/popups.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../topNav.ejs') %>

  <main id="gallery">
    <% if (artwork != false) { %>
      <% for (let art of artwork) { %>
        <a class="art shadow delink" href="/art/<%= art.id %>">
          <div class="image" style="background-image: url('/artwork/thumbs/<%= art.id %>.jpg')"></div>
          <div class="art-info">
            <span class="title"><%= art.title %></span>
            <span class="artist"><img src="/users/avatar/<%= art.ownerID %>" /><%= art.ownerName %></span>
          </div>
        </a>
      <% } %>
    <% } %>

    <!-- Hello, there... :) -->
  </main>
</body>
</html>
